{% autoescape off %}
<h2>Restablecimiento de contraseña</h2>
<p>Hola {{ user.get_username }},</p>
<p>Has solicitado restablecer tu contraseña. Por favor, haz clic en el siguiente enlace para crear una nueva contraseña:</p>
<p><a class="button" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer contraseña</a></p>
<p>Si no has solicitado un restablecimiento de contraseña, puedes ignorar este correo electrónico.</p>
<p>Gracias,<br>El equipo de {{ site_name }}</p>
{% endautoescape %}