{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container mx-auto mt-10 max-w-md">
    <h2 class="text-2xl font-bold mb-5">Password Reset Complete</h2>
    <p class="mb-4">Your password has been set. You may go ahead and log in now.</p>
    <a href="{% url 'login' %}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        Log In
    </a>
</div>
{% endblock %}